html {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #fff;
  margin: 15px;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

#app {
  transition: background 0.35s;
}

// /* custom scroll */
// body::-webkit-scrollbar {
//   width: 0.8em;
// }

// body::-webkit-scrollbar-track {
//   background: hsl(244, 44%, 13%);
// }

// body::-webkit-scrollbar-thumb {
//   background: linear-gradient(to top, hsl(229, 76%, 44%), hsl(261, 72%, 48%));
//   border-radius: 6px;
//   border: 3px solid hsl(244, 44%, 13%);
// }

/* selection */
-moz-::selection {
  background-color: rgba(45, 37, 168, 0.3);
  color: #fff;
}

::selection {
  background-color: rgba(45, 37, 168, 0.3);
  color: #fff;
}
