html {
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100%;
  background: #fff;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

#app {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* selection */
-moz-::selection {
  background-color: #002b44;
  color: #fff;
}

::selection {
  background-color: #002b44;
  color: #fff;
}
